*{
    font-family: 'Montserrat', sans-serif;
    color:#E1DDDD;
    text-decoration: none;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    background-color: #172434;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 10%;
    border-bottom: 1px solid #E1DDDD;
}

.name {
    cursor: pointer;
    padding: 0px 20px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    display: inline-block;
    padding: 0px 20px;
}

nav ul li a {
    transition: all 0.3s ease 0s;
}

nav ul li a:hover {
    transition: all 0.3s ease 0s;
    color:#F85C70;
}

.burger {
    transition: all 0.3s ease 0s;
    font-size: 1.5em;
    cursor: pointer;
    display: none;
    padding: 0px 20px;
}

.home {
    display: grid;
    justify-content: center;
    padding: 35px 10%;
    margin: 0 auto;
    margin-top: 8em;
    text-align: center;
}

.sub-title {
    font-size: x-large;
    border-top: 4px solid #F85C70;
    padding-top: 10px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 10%;
}

.title {
    font-size: xx-large;
    width: 100%;
    margin: 0 auto;
    margin-top: 10%;
    padding-bottom: 20px;
}

.line {
    border: 2px solid #F85C70;
    margin: 0 auto;
    width: 20%;
    margin-bottom: 20px;
}

.image {
    width: 70%;
    height: auto;
    padding-bottom: 10%;
    padding-top:1%;
    justify-self: center;
}

.about {
    display: grid;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 5%;
}

.about-text {
    padding-top: 30px;
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

.exp-box {
    display: grid;
    width: 50%;
    margin: 0 auto;
    margin-left: 5%;
    margin-right: 5%;

}

.exp-title {
    text-align: left;
    color:#F85C70;
    font-size: 24px;
}

.exp {
    display: flex;
    text-align: left;
    padding-bottom: 7%;
    padding-top: 3%;
    justify-content: center;
}

.exp-text {
    padding-top: 30px;
}

.date {
    color:#E1DDDD;
}

.button-container {
    display: flex;
}

.big-btn {
    margin: 1em auto;
    position: relative;
    background-color: #172434;
    width: 100%;
    height: 2.5em;
    color: #F85C70;
    text-align: center;
    border: 3px solid #F85C70;
    cursor: pointer;
    font-size: large;
    padding: 2.5%;
    font-weight: 500;
    transition: all .3s ease;
    overflow: hidden;
}

.resume-btn {
    width: 250px;
    text-align: center;
    padding: 0;
}

.exp-btn {
    width: fit-content;
    padding: 1.2%;
    text-align: center;
    padding-left: 2%;
    padding-right: 2%;
    margin-right: 10px;
    border: 1px solid #F85C70;
}

.big-btn:after {
    content: "";
    background: #172434;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s;
}
  
.big-btn:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s;
}
  
.big-btn:hover {
    background-color: #F85C70;
    color: white;
}

@media only screen and (max-width: 768px) {
    nav ul {
        top: 75px;
        right: -100%;
        position: fixed;
        flex-direction: column;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        background-color: #1f3046;
        margin-top: 75px;
        top: 0px;
    }

    nav ul li {
        padding: 10px;
    }

    nav ul.show {
        right:0;
        position: absolute;
    }

    .burger.change {
        color:#F85C70;
    }

    .burger {
        display:block;
    }

    .about-text {
        font-size: small;
        width: 100%;
        margin: 0 auto;
    }

    .exp-box {
        width: 100%;
    }

    .exp {
        display: inline;
    }

    .date {
        font-size: small;
    }

    .exp-text {
        font-size: small;
        width: 100%;
    }

    .exp-btn {
        font-size: small;
        margin-bottom: 0;
    }

    .exp-box {
        margin: 0 auto;
    }

}