*{
    font-family: 'Montserrat', sans-serif;
    color:#E1DDDD;
    text-decoration: none;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    background-color: #172434;
    background: linear-gradient(62deg, #172434, #1a2c3f);
    height: 100%;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 10%;
    border-bottom: 1px solid #E1DDDD;
}

.name {
    padding: 0px 20px;
    font-weight: 1000;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    display: inline-block;
    padding: 0px 20px;
}

nav ul li a {
    transition: all 0.3s ease 0s;
}

nav ul li a:hover {
    transition: all 0.3s ease 0s;
    color:#33CA7F;
}

.burger {
    transition: all 0.3s ease 0s;
    font-size: 1.2em;
    cursor: pointer;
    display: none;
    padding: 0px 20px;
}

.home {
    display: grid;
    justify-content: center;
    padding: 35px 10%;
    margin: 0 auto;
    margin-top: 5em;
    text-align: center;
}

.main {
    margin-top: 7em;
}

.sub-title {
    font-size: x-large;
    border-top: 2px solid #33CA7F;
    padding-top: 10px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 10%;
    margin-top: 10%;
}

.title {
    font-size: xx-large;
    width: 100%;
    margin: 0 auto;
    margin-top: 6%;
    padding-top: 6%;
    padding-bottom: 20px;
}

.line {
    border: 1px solid #33CA7F;
    margin: 0 auto;
    width: 15em;
    margin-bottom: 20px;
}

.image {
    width: 70%;
    height: auto;
    padding-bottom: 10%;
    padding-top:1%;
    justify-self: center;
}

.about {
    display: grid;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 5%;
}

.about-text {
    padding-top: 30px;
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

.exp-box {
    display: grid;
    width: 50%;
    margin: 0 auto;
    margin-left: 5%;
    margin-right: 5%;

}

.exp-title {
    text-align: left;
    color:#33CA7F;
    font-size: 24px;
}

.exp {
    display: flex;
    text-align: left;
    padding-bottom: 7%;
    margin-top: 1.7%;
    justify-content: center;
}

.exp-last {
    padding-bottom: 0;
}

.exp-text {
    padding-top: 30px;
}

.date {
    color:#E1DDDD;
}

.tag-container {
    padding-top: 20px;
}

.tag {
    font-size: smaller;
    width: fit-content;
    padding: 1%;
    text-align: center;
    padding-left: 2%;
    padding-right: 2%;
    margin-right: 10px;
    margin-top: 10px;
    border: 1px solid #E1DDDD;
    border-radius: 100px;
    display: inline-block;
}

.big-btn {
    margin: 1em auto;
    position: relative;
    background-color: transparent;
    width: 100%;
    height: 2.5em;
    color: #33CA7F;
    text-align: center;
    border: 2px solid #33CA7F;
    cursor: pointer;
    font-size: large;
    padding: 2.5%;
    font-weight: 500;
    transition: all .3s ease;
    overflow: hidden;
}

.resume-btn {
    width: 250px;
    text-align: center;
    padding: 0;
}

.resume-link {
    display: flex;
    width: fit-content;
    justify-self: center;
}

.exp-btn {
    width: fit-content;
    padding: 1.2%;
    text-align: center;
    padding-left: 2%;
    padding-right: 2%;
    margin-right: 10px;
    border: 1px solid #33CA7F;
    margin-bottom: 1px;
}

.big-btn:after {
    content: "";
    background: #172434;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s;
}
  
.big-btn:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s;
}
  
.big-btn:hover {
    background-color: #33CA7F;
    color: white;
}

.white-btn {
    color: white;
    border: 1px solid white;
}

.white-btn:hover{
    color: #172434;
    background-color: white;
}

.project-btn {
    padding: 1.5%;
    padding-left: 3px;
    padding-right: 3px;
    width: 70%;
    justify-self: center;
    border: 1px solid rgb(225, 221, 221, 0.2);
    transition: all .3s ease;
}

.project-btn:hover{
    cursor: pointer;
    box-shadow: 0 0 30px white;
    border-color: white;
}

.proj-logo {
    max-width: 100%;
    height: auto;
    max-height: 150px;
    padding-bottom: 4%;
    padding-top:1%;
}

.contact {
    display: inline-block;
    justify-self: center;
    padding: 3em;
}

.contact-text {
    margin: 2em;
    text-align: center;
    display: grid;
}

.mail-link:hover {
    color:#33CA7F;
    text-decoration: underline;
}

footer nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 18px 10%;
    border-top: 1px solid #E1DDDD;
    margin-top: 0;
}

span {
    color:#33CA7F;
}

.white {
    color: white;
}

@media only screen and (max-width: 780px) {
    header nav {
        position: fixed;
        width: 80%;
        top:0;
        background-color: #172434;
        z-index: 1;
    }

    header nav ul {
        right: -100%;
        position: fixed;
        flex-direction: column;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        background-color: #1f3046;
        margin-top: 60px;
        top: 0px;
    }

    header nav ul li {
        padding: 10px;
    }

    header nav ul.show {
        right:0;
        position: absolute;
    }

    .burger.change {
        color:#33CA7F;
    }

    .burger {
        display:block;
    }

    .about-text {
        font-size: small;
        width: 100%;
        margin: 0 auto;
    }

    .exp-box {
        width: 100%;
    }

    .exp {
        display: inline;
        margin-top: 10%;
    }

    .date {
        font-size: small;
    }

    .exp-text {
        font-size: small;
        width: 100%;
    }

    .tag {
        font-size: x-small;
        margin-top: 3%;
    }

    .exp-btn {
        font-size: small;
        margin-bottom: 0;
    }

    .exp-box {
        margin: 0 auto;
    }

    .project-btn {
        width: 100%;
        padding: 4%;
    }

    .proj-logo {
        max-height: 100px;
    }

    .exp-title {
        font-size: large;
    }

    .contact {
        padding: 5%;
    }

    .contact-text {
        margin: 0.5em;
    }

    .title {
        padding-top:22%;
        margin-top: auto;
    }

}